
<div id="wrapper" >
<app-main></app-main>
  <div class="row">
  <div class="col-sm-9" id="page-wrapper">
    <div>
      <h3>Asset Review</h3>
      <hr>
    </div>
    <div class="head">
      <div class="form-group row">
        <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Contract Package</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" required [(ngModel)]="cntractpkg" name="L1_bf_20truck"  style="width: 100%;height: 78%" >
        </div>


        <label for="smFormGroupInput" class="col-sm-3 col-form-label col-form-label-sm">Separable Portion</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" required [(ngModel)]="separableportion" name="L1_wtfperhr" id="L1_wtfperhr" style="margin-left:-38%; width: 100%;height: 78%" >
        </div>

      </div>
      <div class="form-group row">
        <label for
                 ="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Work Order</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" required [(ngModel)]="workodr" name="L1_bf_20truck" id="L1_bf_20truck" style="width: 100%;height: 78%" >
        </div>


        <label for="smFormGroupInput" class="col-sm-3 col-form-label col-form-label-sm">PMO No.</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" required [(ngModel)]="pmono" name="L1_wtfperhr" id="L1_wtfperhr" style="margin-left:-38%; width: 100%;height: 78%" >
        </div>

      </div>

      <div class="form-group row">
        <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">PMO Status</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" required [(ngModel)]="pmostatus" name="L1_bf_20truck" id="L1_bf_20truck" style="width: 100%;height: 78%" >
        </div>

        <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Asset Status</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm " required [(ngModel)]="assetstatus" name="L1_bf_20truck" id="L1_bf_20truck" style="width: 100%;height: 78%" >
        </div>

      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col-sm-6">
        <div>
          <ul class="nav nav-pills">
            <li class="epo" ><a class="g" style="color:#AA0014"  data-toggle="pill" href="#home">Unallocated Items</a></li>
            <li class="epo" ><a class="g" style="color:#AA0014"  data-toggle="pill" href="#menu1">Unallocated Contract</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="home" class=" active mainlist tab-pane fade in active">
            <app-unallocated></app-unallocated>

          </div>

          <div id="menu1" class="cargolist tab-pane fade">
            <app-unallocated-contract></app-unallocated-contract>
          </div>
        </div>
        <div class="iframe" style="margin-left: 16px">
          <iframe src="http://localhost:8080/" frameBorder="0"></iframe>
        </div>
      </div>


      <div class="col-sm-4 space">
        <form class="form-horizontal" >

          <div class="form-group formwidth" style="margin-top: 90px">
            <label class="control-label col-sm-4 ff" for="email">Total Constructor Payments:</label>
            <div class="col-sm-6 ">
              <input type="text" class="form-control textboxwidth" id="email">
            </div>
          </div>
          <div class="form-group formwidth">
            <label class="control-label col-sm-4 ff" for="pwd">Approved Contract Sum</label>
            <div class="col-sm-6">
              <input type="text" class="form-control textboxwidth" id="pwd">
            </div>
          </div>
          <div class="form-group formwidth">
            <label class="control-label col-sm-4 ff" for="email">PMO Actual Costs</label>
            <div class="col-sm-6">
              <input type="text" class="form-control textboxwidth" id="email">
            </div>
          </div>
          <div class="form-group formwidth">
            <label class="control-label col-sm-4 ff" for="pwd">PMO Expense Values</label>
            <div class="col-sm-6">
              <input type="text" class="form-control textboxwidth" id="pwd">
            </div>
          </div>
          <div class="form-group formwidth">
            <label class="control-label col-sm-4 ff" for="pwd">Constructor Payments as % of Contract Sum</label>
            <div class="col-sm-6">
              <input type="text" class="form-control textboxwidth" id="pwd">
            </div>
          </div>
          <div class="form-group formwidth">
            <label class="control-label col-sm-4 ff" for="pwd">Allocated FIM as % of Total FIM value</label>
            <div class="col-sm-6">
              <input type="text" class="form-control textboxwidth" id="pwd">
            </div>
          </div>

        </form>
        <div class="chkbox">
          <div class="checkbox">
            <label><input type="checkbox" value="">unallocated-contract</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">AM Flagged Errors</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>System Flagged Errors</label>
          </div>
        </div>
      </div>
    </div>


  </div>
    <div class="col-sm-3 chklist">
      <div class="chk">

        <div class="checkbox" *ngIf="Login">
          <div >
          <label><input type="checkbox" checked value="login" >Log in to IPaC application
          </label>
            <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
          </div>
        </div>





        <div class="checkbox" *ngIf="!Login">
          <div >
          <label><input type="checkbox" value="login" >Log in to IPaC application
          </label>
            <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
          </div>
        </div>




        <div class="checkbox" *ngIf="IPaCassetmodule">
          <div class="div">
          <label><input type="checkbox" checked={{IPaCassetmodule}} value="">Open IPaC asset module
          </label>
            <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
          </div>

        </div>

        <div class="checkbox" *ngIf="!IPaCassetmodule">
          <div class="div">
          <label><input type="checkbox"  value="">Open IPaC asset module
          </label>
            <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
          </div>
        </div>

        <div class="checkbox" *ngIf="Portfolio">
          <label><input type="checkbox" checked={{Portfolio}} value="">Select Portfolio
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Portfolio">
          <label><input type="checkbox" value="">Select Portfolio
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="IPaCordersummary">
          <label><input type="checkbox" checked={{IPaCordersummary}} value="">Open IPaC order summary module
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!IPaCordersummary">
          <label><input type="checkbox" value="">Open IPaC order summary module
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="Assetstatus">
          <label><input type="checkbox" checked={{Assetstatus}} value="">Check Asset status
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Assetstatus">
          <label><input type="checkbox" value="">Check Asset status
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="Activitytype">
          <label><input type="checkbox" checked={{Activitytype}} value="">Check on Activity type
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Activitytype">
          <label><input type="checkbox" value="">Check on Activity type
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="CAPEX">
          <label><input type="checkbox" checked={{CAPEX}} value="">Check CAPEX/OPEX Percentage
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!CAPEX">
          <label><input type="checkbox" value="">Check CAPEX/OPEX Percentage
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="NDPM">
          <label><input type="checkbox" checked={{NDPM}} value="">Extract project brief from NDPM/EDMS
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!NDPM">
          <label><input type="checkbox"  value="">Extract project brief from NDPM/EDMS
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="Reviewprojectbrief">
          <label><input type="checkbox" checked={{Reviewprojectbrief}} value="">Review/Analyse project brief
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Reviewprojectbrief">
          <label><input type="checkbox" value="">Review/Analyse project brief
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="Costsheet">
          <label><input type="checkbox" checked={{Costsheet}} value="">Analyse Cost sheet
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Costsheet">
          <label><input type="checkbox" value="">Analyse Cost sheet
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="Materialdetails">
          <label><input type="checkbox" checked={{Materialdetails}} value="">Check Material details
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="!Materialdetails">
          <label><input type="checkbox" value="">Check Material details
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>



        <div class="checkbox" *ngIf="ItemMapping">
          <label><input type="checkbox" checked={{ItemMapping}} value="">Check with !AMG group for Serial/Item Mapping if any
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>


        <div class="checkbox" *ngIf="!ItemMapping">
          <label><input type="checkbox" value="">Check with !AMG group for Serial/Item Mapping if any
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>


        <div class="checkbox" *ngIf="DBORS">
          <label><input type="checkbox" checked={{DBORS}} value="">Check in DBORS
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>


        <div class="checkbox" *ngIf="!DBORS">
          <label><input type="checkbox" value="">Check in DBORS
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="Missinginformation">
          <label><input type="checkbox" checked={{Missinginformation}} value="">Contact NC's for Missing information
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="!Missinginformation">
          <label><input type="checkbox" value="">Contact NC's for Missing information
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="assetclass">
          <label><input type="checkbox" checked={{assetclass}} value="">Update asset class in asset file
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="!assetclass">
          <label><input type="checkbox" value="">Update asset class in asset file
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="equipmentcodes">
          <label><input type="checkbox" checked={{equipmentcodes}} value="">Update  equipment codes
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!equipmentcodes">
          <label><input type="checkbox" value="">Update  equipment codes
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="UpdateActivity">
          <label><input type="checkbox" checked={{UpdateActivity}} value="">Update Activity Type
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!UpdateActivity">
          <label><input type="checkbox"  value="">Update Activity Type
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>

        <div class="checkbox" *ngIf="Transferdetails">
          <label><input type="checkbox" checked={{Transferdetails}} value="">Check the Transfer details, if any
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Transferdetails">
          <label><input type="checkbox" value="">Check the Transfer details, if any
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="physicalquantity">
          <label><input type="checkbox" checked={{physicalquantity}} value="">Update physical quantity
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!physicalquantity">
          <label><input type="checkbox"  value="">Update physical quantity
          </label>
          <button type="button"  class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="FIMValue">
          <label><input type="checkbox" checked={{FIMValue}} value="">Update FIM Value, If any
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!FIMValue">
          <label><input type="checkbox"  value="">Update FIM Value, If any
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="RFUdate">
          <label><input type="checkbox" checked={{RFUdate}} value="">Validate the Correct RFU date
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!RFUdate">
          <label><input type="checkbox" value="">Validate the Correct RFU date
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="Transfer">
          <label><input type="checkbox" checked={{Transfer}} value="">Update Transfer/Retire value, if any recovery
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Transfer">
          <label><input type="checkbox"  value="">Update Transfer/Retire value, if any recovery
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="Disposalmethod">
          <label><input type="checkbox" checked={{Disposalmethod}} value="">Update Disposal method, if any
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!Disposalmethod">
          <label><input type="checkbox"  value="">Update Disposal method, if any
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="LIC" >
          <label><input type="checkbox" checked={{LIC}} value="">Input LIC code if required
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!LIC">
          <label><input type="checkbox" value="">Input LIC code if required
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="PropertyLease">
          <label><input type="checkbox" checked={{PropertyLease}} value="">Input Property Lease ID if any
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!PropertyLease">
          <label><input type="checkbox" value="">Input Property Lease ID if any
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="unallocated">
          <label><input type="checkbox" checked={{unallocated}} value="">Allocated the unallocated  items to correct asset class
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!unallocated">
          <label><input type="checkbox" value="">Allocated the unallocated  items to correct asset class
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="notes">
          <label><input type="checkbox" checked={{notes}} value="">Add notes, if any
          </label>
          <button type="button" disabled class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>
        <div class="checkbox" *ngIf="!notes">
          <label><input type="checkbox"  value="">Add notes, if any
          </label>
          <button type="button" class="btn btn-primary btn-xs" style="width: 20%;margin-right: 3px">Assign</button>
        </div>



      </div>
    </div>
  </div>



</div>
