<app-header>
</app-header>
<div class="container resize">
<div class="head">
    <div class="form-group row">
        <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Contract Package</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" required [(ngModel)]="L1_bf_20truck" name="L1_bf_20truck"  style="width: 100%;height: 78%" >
        </div>
        

        <label for="smFormGroupInput" class="col-sm-3 col-form-label col-form-label-sm">Separable Portion</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" required [(ngModel)]="L1_wtfperhr" name="L1_wtfperhr" id="L1_wtfperhr" style="margin-left:-38%; width: 100%;height: 78%" >
        </div>
        
      </div>
      <div class="form-group row">
          <label for
="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Work Order</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" required [(ngModel)]="L1_bf_20truck" name="L1_bf_20truck" id="L1_bf_20truck" style="width: 100%;height: 78%" >
          </div>
         

          <label for="smFormGroupInput" class="col-sm-3 col-form-label col-form-label-sm">PMO No.</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" required [(ngModel)]="L1_wtfperhr" name="L1_wtfperhr" id="L1_wtfperhr" style="margin-left:-38%; width: 100%;height: 78%" >
          </div>
          
        </div>

        <div class="form-group row">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">PMO Status</label>
            <div class="col-sm-3">
              <input type="text" class="form-control form-control-sm" required [(ngModel)]="L1_bf_20truck" name="L1_bf_20truck" id="L1_bf_20truck" style="width: 100%;height: 78%" >
            </div>
            
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Asset Status</label>
            <div class="col-sm-3">
              <input type="text" class="form-control form-control-sm " required [(ngModel)]="L1_bf_20truck" name="L1_bf_20truck" id="L1_bf_20truck" style="width: 100%;height: 78%" >
            </div>
            
          </div>
          
        </div>
<!-- END OF HEADER -->
<div class = "scroll">
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Asset Class</th>
        <th>Equip Code</th>
        <th>EC Lvl</th>
        <th>ATT</th>
        <th>Transfer From Equip</th>
        <th>Phys Qty</th>
        <th>FIM $</th>
        <th>COnstructor $</th>
        <th>RFU Date</th>
        <th>Transfer/Retire $</th>
        <th>Disposal Method</th>
        <th>LIC</th>
        <th>Disposal Method</th>
        
        
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
     
    </tbody>
  </table>
</div>
  <div class="row">
      <div class="col-sm-8">
        <div>
        <ul class="nav nav-pills">
          <li class="epo" ><a class="g"  data-toggle="pill" href="#home">Unallocated Items</a></li>
          <li class="epo" ><a class="g"  data-toggle="pill" href="#menu1">Unallocated Contract</a></li>
        </ul>
        </div>
        <div class="tab-content">
            <div id="home" class=" active mainlist tab-pane fade in active">       
                <app-unallocated></app-unallocated>
                     
                  </div>
                
                  <div id="menu1" class="cargolist tab-pane fade">
                      <app-unallocated-contract></app-unallocated-contract> 
                  </div>
        </div>
</div>

      <div class="col-sm-4 space">
          <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
              <label class="control-label col-sm-4 ff" for="email">Total Constructor Payments:</label>
              <div class="col-sm-6 ">
                <input type="text" class="form-control" id="email">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4 ff" for="pwd">Approved Contract Sum</label>
              <div class="col-sm-6"> 
                <input type="text" class="form-control" id="pwd">
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 ff" for="email">PMO Actual Costs</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4 ff" for="pwd">PMO Expense Values</label>
                <div class="col-sm-6"> 
                  <input type="text" class="form-control" id="pwd">
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4 ff" for="pwd">Constructor Payments as % of Contract Sum</label>
                  <div class="col-sm-6"> 
                    <input type="text" class="form-control" id="pwd">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ff" for="pwd">Allocated FIM as % of Total FIM value</label>
                    <div class="col-sm-6"> 
                      <input type="text" class="form-control" id="pwd">
                    </div>
                  </div>
                <div class="checkbox ">
                    <label><input type="checkbox" value="">Skip WO Distribution</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="">AM Flagged Errors</label>
                  </div>
                  <div class="checkbox disabled">
                    <label><input type="checkbox" value="" disabled>System Flagged Errors</label>
                  </div>
            </form>
      </div>
    </div>

</div>>
<div class="checklist">
  <h3>Hello</h3>
</div>